---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Dealstorm">
    <main
        class="flex-1 flex-col justify-center items-center h-screen bg-background"
    >
        <h1 class="text-center text-4xl tracking-tighter font-bold py-5 pt-20">
            Result
        </h1>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5211.249407264941!2d-122.99935362042449!3d49.226644138507716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5486765bdb5d5b3f%3A0x68dafb58b8f7deb!2sT%26T%20Supermarket!5e0!3m2!1sen!2sca!4v1716075725426!5m2!1sen!2sca"
            width="300"
            height="350"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            class="mx-auto"></iframe>

        <div>
            <div
                class="py-2 px-5 my-2 bg-green-500 text-white w-[250px] mx-auto rounded-3xl"
            >
                <div class="flex text-2xl tracking-tighter">T&T</div>
                <div>Potatoes (1lb)</div>
            </div>
            <div
                class="py-2 px-5 my-2 bg-green-500 text-white w-[250px] mx-auto rounded-3xl"
            >
                <div class="flex text-2xl tracking-tighter">T&T</div>
                <div>Carrots (1lb)</div>
            </div>
            <div
                class="py-2 px-5 my-2 bg-orange-400 text-white w-[250px] mx-auto rounded-3xl"
            >
                <div class="flex text-2xl tracking-tighter">T&T</div>
                <div>Carrots (1lb)</div>
            </div>
        </div>
    </main>
</Layout>
