---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Dealstorm">
  <main class="flex flex-col justify-center items-center h-screen bg-background">
    <h1 class="flex text-8xl tracking-tighter font-bold">Dealstorm</h1>
	<h2 class="flex text-2xl tracking-tighter">Finding inexpensive options with ease</h2>
  </main>
</Layout>
