---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Login">
  <main class="flex flex-col justify-center items-center h-screen bg-background">
    <form action="/api/auth/login" method="POST" class="flex flex-col bg-card h-auto w-auto rounded-md p-4">
      <label for="">Email</label>
      <input type="text" class="rounded-md" />
      <label for="">Password</label>
      <input type="password" class="rounded-md" />
      <button type="submit" class="btn">Submit</button>
    </form>
    Don't have an account? <a href="/api/register" class="underline">Register Now</a>
  </main>
</Layout>
