---

const restaurants = ["McDonald's", "Freshii", "Chipotle"]

---

<div>
    <ul>
        {
            restaurants.map((item) => (
                <li>{item}</li>
            ))
          }
    </ul>
</div>